project_prefix     = "prefix"
owner_tag          = "user@domain.com"

vsphere_server     = "..."
vsphere_user       = "..."
vsphere_password   = "..."
vsphere_datacenter = "DC"
vsphere_cluster    = "Cluster"
vsphere_datastore  = "datastore1"
vsphere_host       = "<ip>"

f5xc_vm_template   = "centos-7.2009.45-202311221420-single-nic"
f5xc_vm_guest_type = "centos64Guest"

f5xc_api_url         = "https://<tenant>.ves.volterra.io/api"
f5xc_api_token       = "<api token>="
f5xc_tenant          = "tenat-........"
f5xc_api_p12_file    = "<path to api-creds.p12 file>"
f5xc_reg_url         = "ves.volterra.io"

